<div class="col-md-8 container rounded bg-dark mt-5 text-white">
  <div class="text-center">
    <h1 id="pointing">--</h1>
  </div>
  <hr>
  <div class="text-center">
    <p id="description"></p>
    <br>
    <%= link_to "Consultar Histórico", bim_calculation_histories_path, class: "btn btn-info mb-4" %>
    <%= link_to "Conhecer Especialistas", specialists_path, class: "btn btn-info mb-4" %>
  </div>
</div>
